{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block head_title %} Sign In {% endblock %}

{% block title %}
    <title>Sign In | Encrypted Drive</title>
{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="card-title text-center mb-2">Welcome to Encrypted Drive</h1>
                    <p class="card-text text-center">Securely access your files with confidence.</p>
                    <form class="mt-4" id="form-col" action="{% url 'account_login' %}" method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-lg btn-primary  mt-3" type="submit">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

